# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
/jenkins_home/
/jenkins/
/deploy/jenkins_home/
/src/assets/img/
/jenkins_home/jobs/
/jenkins_home/logs/
/jenkins_home/plugins/
/jenkins_home/secrets/
/jenkins_home/updates/
/jenkins_home/workspace/
/jenkins_home/hudson.plugins.emailext.ExtendedEmailPublisher.xml
/jenkins_home/hudson.plugins.gradle.Gradle.xml
/jenkins_home/hudson.tasks.Ant.xml
/jenkins_home/hudson.tasks.Maven.xml
/jenkins_home/jenkins.mvn.GlobalMavenConfig.xml
/jenkins_home/jenkins.plugins.nodejs.tools.NodeJSInstallation.xml
/jenkins_home/org.jenkinsci.plugins.gitclient.JGitApacheTool.xml
/jenkins_home/org.jenkinsci.plugins.gitclient.JGitTool.xml
/jenkins_home/org.jenkinsci.plugins.workflow.flow.FlowExecutionList.xml
