@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
body {
  margin: 0;
  width: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
